.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

input {
  margin: 5px;
  padding: 5px;
}

.container {
  border: 1px solid black;
  padding: 30px;
  border-radius: 5px;
}